In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [3]:
df_custumers = pd.read_excel("/Users/giulianamiranda/Documents/Labs/lab-customer-analysis-round-2/files_for_lab/excel_files/marketing_customer_analysis.xlsx")


cols = []

for a in range(len(df_custumers.columns)):
    cols.append(df_custumers.columns[a].lower().replace(' ', '_'))
    
df_custumers.columns = cols

df_custumers

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
numerical = df_custumers.select_dtypes(include=[np.number])
numerical

numerical

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [10]:
# X-y split.

Y = df_custumers['total_claim_amount']
X = df_custumers.drop(['total_claim_amount'], axis=1)

In [12]:
# Normalize (numerical)

numerical.isnull().sum()
numerical = numerical.dropna()

from sklearn.preprocessing import MinMaxScaler

num_data = numerical.drop(['total_claim_amount'], axis = 1)
scaler = MinMaxScaler() 
normalized_df = scaler.fit_transform(num_data) 
normalized_df = pd.DataFrame(normalized_df, columns = num_data.columns)
normalized_df

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.000000,0.035752,0.480381,0.000000,0.200000,0.525253,0.0,1.000
1,0.000092,0.004059,0.000000,0.012658,0.085714,0.262626,0.0,0.000
2,0.000183,0.160264,0.221432,0.164557,0.971429,0.313131,0.0,0.125
3,0.000275,0.250953,0.490873,0.151899,0.285714,0.030303,0.0,0.125
4,0.000458,0.034966,0.505586,0.000000,0.057143,0.737374,0.0,0.750
...,...,...,...,...,...,...,...,...
10272,0.999542,0.212833,0.000000,0.531646,0.400000,0.323232,0.0,0.125
10273,0.999725,0.041281,0.611576,0.016878,0.200000,0.686869,0.0,0.625
10274,0.999817,0.270122,0.398446,0.590717,0.314286,0.636364,0.0,0.125
10275,0.999908,0.123717,0.642072,0.409283,0.000000,0.272727,0.8,0.625
10276,1.000000,0.060907,0.000000,0.168776,0.885714,0.010101,0.0,0.250